#!/bin/bash
echo "{{ variable_to_be_replaced }}"

{% for i in range(3)%}
  echo "This is the {{ i }}th variable"
{% endfor %}



  {% if result == "DOWN" %}
	echo "your server is down"
  {% elif result == "ERROR" %}
	echo "your server is has problem"
  {% elif result == "DONE" %}
	echo "your server is done "
  {% endif %}
